/*
	Fichier : index.css;
	Projet:	Site Suzanne Michaud;
	Auteur: Nathan ARAGO;
	Date Creation: 	11/05/2017;
*/

@font-face{
	font-family : "Police1";
	src : url('polices/AUBREY.TTF');
}

@font-face{
	font-family : "Police2";
	src : url('polices/Blkchanr.ttf')
}

.logout_alert{
	color: #37c66c;
	font-family: 'Arial';
}

body{
	font-family :  "Police1", "Police2";
	background-color : #F7F7F7;
	margin: -1px; /* Retrait des marges entre le body et corps. */
}

#maPage{
	
	display : block; 
	margin : auto;
	max-width : 100%;
	height : 100%;
	background-color : #FFF;
	-webkit-box-shadow: 0px 32px 46px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 32px 46px -25px rgba(0,0,0,0.75);
	box-shadow: 0px 32px 46px -25px rgba(0,0,0,0.75);
}


a{
	text-decoration: none;
	color : #000
}


#corps {
	display : block;
	margin : auto;
	margin-top : 50px;
	text-align: center;
}


.success{
	font-family: 'Arial';
	color: green;
}


.slider{
	display : block;
	margin : auto;
	width : 50%;
	height : auto;
}

.slider div{
	display : block;
	margin-left : 10px;
	margin-right : 10px;
}

.box_photo{
	position: relative;
}

.box_photo .remove_button{
	display: inline-block;
	position: absolute;
	left: calc(50% - 16px);
	height: 32px;
	opacity: 0.5;
}

.box_photo .remove_button:hover{
	opacity: 1;
}

/* MOBILE RESPOSIVE */


@media screen and (max-width : 550px){
	
	.slider{
		height: 0px;
		width: 0px;
		opacity: 0;
		z-index: -20;
	}
	
	.slider div{
		height: 0px;
		width: 0px;
	}
	
	#sur_slider{
		height: 0px;
		width: 0px;
	}
}

@media screen and (max-width : 706px){
	
	
	#corps header h1{
		font-size: 28px;		
	}
}
