/*
	Fichier : index.css;
	Projet:	Site Suzanne Michaud;
	Auteur: Nathan ARAGO;
	Date Creation: 	11/05/2017;
*/

@font-face{
	font-family : "Police1";
	src : url('polices/AUBREY.TTF');
}

@font-face{
	font-family : "Police2";
	src : url('polices/Blkchanr.ttf')
}

body{
	font-family :  "Police1", "Police2";
	background-color : #F7F7F7;
	margin: -1px; /* Retrait des marges entre le body et corps. */
}

#maPage{
	
	display : block; 
	margin : auto;
	max-width : 100%;
	height : 100%;
	background-color : #FFF;
	-webkit-box-shadow: 0px 32px 46px -25px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 32px 46px -25px rgba(0,0,0,0.75);
	box-shadow: 0px 32px 46px -25px rgba(0,0,0,0.75);
}

a{
	text-decoration: none;
	color : #000
}

#corps {
	display : block;
	margin : auto;
	margin-top : 50px;
	text-align: center;
}

#corps header{
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 100px;
}

#corps header h1{
	font-size : 34px;
	margin-bottom: -30px; 
}


.box_photo{
	display: inline-block;
	border: solid black 3px;
	border-radius: 10px;
	overflow: hidden;
	height: 250px;
	margin: auto;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: rgb(0,0,0);
}

.box_photo .lien_photo{
	opacity: 0.7;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.box_photo .remove_button{
	display: block;
	position: absolute;
	z-index: 10;
	opacity: 0.5;
}

.date_ajout_photo{
	font-family: 'Police1','Police2';
	opacity: 0;
	color: #000;
	font-size: 12px;
	display: block;
	position: relative;
	z-index: 15;
	top: 240px;
	margin: -7.7px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.box_photo img{
	margin: 0px;
}

.box_photo .remove_button:hover{
	opacity: 1;
}

.box_photo:hover .lien_photo{
	opacity: 1;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.box_photo:hover .date_ajout_photo{
	opacity: 1;
	background-color: rgba(255,255,255,0.5);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
}

.add_button{
	display: inline-block;
	position: relative;
	margin: auto;
	margin-top: 30px;
	top: -58px;
	height: 100%;
	width: 128px;
}

/* PORTABLE RESPONSIVE */ 


@media screen and (max-width : 540px){
}
@media screen and (max-width : 706px){
	
	
	#corps header h1{
		font-size: 28px;		
	}
}
